.main__marca, .main__productos{
    height: 30rem;
    position: relative;
    .empresa, .marca{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .empresa__marca, .marca__modelo{
        font-size: 3rem;
        color: #fff;
        margin: 3rem 0;
    }
    .empresa__info{
        color: #fff;
        font-size: 1.5rem;
    }
}