.navegacion{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: .5rem;
        width: 100%;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(230,231,235,0.8715861344537815) 61%, rgba(195,196,199,0.7875525210084033) 86%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(230,231,235,0.8715861344537815) 61%, rgba(195,196,199,0.7875525210084033) 86%);
        background: linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(230,231,235,0.8715861344537815) 61%, rgba(195,196,199,0.7875525210084033) 86%);
    }
    .navegacion__logo a{
        font-size: 1.8rem;
        color: #000;
        text-transform: uppercase;
    }
    .navegacion__enlaces a{
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem 2rem;
        color: #000;
    }
    .navegacion__icono{
        font-size: 2.5rem;
        color: #e1e1e1;
        cursor: pointer;
        position: relative;
        .iconoCantidadProducto{
            position: absolute;
            top: 50%;
            right: 0;
            background-color: #000;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            p{
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}
