.titleCart{
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 5rem;
}

.icon{
    text-align: center;
    font-size: 2rem;
}

.cart{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
}

.cart__item{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
    padding: 2rem 0;
    &:hover .icon--remove{
        visibility: visible;
    }
    .item--info{
        flex: 1;
        text-align: left;
        padding: 0 4rem;
    }
    .item--product{
        width: 20rem;
    }
    img{
        width: 10rem;
    }
    .itemDesc{
        font-size: 1.6rem;
    }

    .itemTitle{
        font-family: "Roboto", sans-serif;
        font-size: 2.1rem;
        font-weight: 700;
        color: #000;
    }
    .itemPrice{
        color: rgba(39, 39, 39, 0.74);
    }
    .item--buttons{
        width: 30rem;
    }
}

.icon--remove{
    cursor: pointer;
    visibility: hidden;
    font-size: 2.5rem;
}

.divPrice{
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.totalPrice{
    padding: 0 3rem;
}

.formOrder{
    display: flex;
    flex-direction: column;
}



